<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.springboot.demo.dao.ext.ExtPermissionMapper">

    <select id="selectPermissionByUserId" resultType="java.lang.String">
        SELECT permission.name
        FROM user_role
            JOIN role_permission
            JOIN permission
        WHERE user_role.role_id = role_permission.role_id
              AND role_permission.permission_id = permission.id
              AND user_role.user_id = #{userId}
    </select>
</mapper>