<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.springboot.demo.dao.ext.ExtRoleMapper">
    <select id="selectRoleByUserId" resultType="java.lang.String">
        SELECT role.name
        FROM role
            JOIN user_role
        WHERE role.id = user_role.role_id
              AND user_role.user_id = #{id}
    </select>
</mapper>